body {
    font-family: 'Varela Round', sans-serif;
    width: auto;
    margin: 0px;
}

#menu_bar {
    width: 100%;
    background-color: #333;
}

#menu {
    list-style: none;
    font-size: 0;
    margin: auto;
}

#menu li {
    width: 140px;
    text-align: center;
    background-color: #333;
    display: inline-block;
    font-size: 16px;
}

#menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}