@media screen and (max-width: 760px) {
    #logo {
        width: 15% !important;
        height: 15% !important;
        margin: 20px 20px !important;
    }
    #menu {
        display: none !important;
    }
    .box {
        min-width: 320px !important;
        min-height: auto !important;
    }
    .box_top {
        min-width: 100vw !important;
        min-height: 100vh !important;
    }
    p {
        width: 90% !important;
    }
    .flex_center_jp {
        flex-direction: column;
    }
    .lms-wrap>h1 {
        font-size: 32px
    }
    .lms-wrap>p.works {
        font-size: 18px
    }
    .lms-wrap>img {
        height: 40px;
    }
    .profile_img {
        min-width: 100vw;
    }
    .flex_col_c {
        text-align: center;
    }
    .flex_col_c:last-child {
        margin-top: 30px;
    }
    .anchor_about {
        display: block;
        padding-top: 75px;
        margin-top: -55px;
    }
    .anchor_works {
        display: block;
        padding-top: 110px;
        margin-top: -110px;
    }
}

@media screen and (min-width:760px) {
    #nav-open {
        display: none !important;
    }
    .flex_row_sa {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .flex_col_c {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 70%;
        margin: 0 50px;
    }
}

@font-face {
    font-family: 'Varera Round';
    font-family: 'Codystar';
}

html {
    font-family: 'Varela Round', sans-serif;
}

body {
    width: 100%;
    margin: 0px;
    background-color: #E7E6E4
}

footer {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #E7E6E4;
    font-size: 12px;
}

h1 {
    font-family: 'Codystar', cursive;
    font-weight: bold;
    font-size: 48px;
    color: #E7E6E4;
    text-align: center;
}

h2 {
    font-family: 'Codystar', cursive;
    font-weight: bold;
    font-size: 48px;
    color: #333;
    text-align: center;
    margin-top: 0px;
}

h2.margin_top {
    margin-top: 50px;
}

h3 {
    font-weight: bold;
    font-size: 36px;
    color: #333;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-align: center;
}

p {
    margin: 40px auto;
    color: #333;
    font-size: 16px;
    width: 40%;
}

p.works {
    color: #E7E6E4;
    font-size: 24px;
    width: 35%;
    text-align: left
}

a {
    text-decoration: none;
    color: #E7E6E4
}

.anchor_about {
    display: block;
    padding-top: 85px;
    margin-top: -85px;
}

.anchor_works {
    display: block;
    padding-top: 130px;
    margin-top: -130px;
}

.border {
    border: #333 solid 1px;
    margin: 50px 30px;
}

.flag_img {
    width: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#logo {
    width: 5%;
    height: 5%;
    margin: 20px 30px
}

#menu_bar {
    position: fixed;
    width: 100%;
    background-color: #333;
    display: flex;
    z-index: 1;
}

#menu {
    list-style: none;
    font-size: 0;
    text-align: right;
    margin: auto 30px;
    padding: 0px;
    width: 85%;
    height: 30px;
}

#menu li {
    margin: auto 20px;
    text-align: center;
    background-color: #333;
    display: inline-block;
    font-size: 24px;
}

#menu li a {
    font-family: 'Codystar', cursive;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.top_img {
    background-image: url(image/top.jpg);
    background-size: cover;
    background-position: center;
}

.box {
    width: 100vw;
    height: 100vh;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: center;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-flex-direction: column;
    -ms-flex-direction: column; */
    flex-direction: column;
}

.box_top {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box_content_about {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row !important;
    flex-wrap: wrap-reverse !important;
}

.center {
    text-align: center;
}

.profile_img {
    width: 40%;
}

#nav-drawer {
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*チェックボックス等は非表示に*/

.nav-unshown {
    display: none;
}

/*アイコンのスペース*/

#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/

#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

/*閉じる用の薄黒カバー*/

#nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/

#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    /*最前面に*/
    width: 30%;
    /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 390px;
    /*最大幅（調整してください）*/
    height: 100%;
    background: #333;
    /*背景色*/
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    /*左に隠しておく*/
}

#nav-content-text {
    text-align: center;
    font-size: 16px;
    margin: 40px 20px;
    font-family: 'Codystar', cursive;
    text-decoration: none;
    font-weight: bold;
}

/*チェックが入ったらもろもろ表示*/

#nav-input:checked~#nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
}

#nav-input:checked~#nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}

.flex_center_jp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.flex_center_ca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.image_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_box:hover {
    opacity: 0.7;
}

.image_box>label {
    position: absolute;
    font-size: 52px;
    color: #E7E6E4;
}

img.works_img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    display: block;
}

.lms_img_blur {
    width: 100%;
    background-color: red;
    overflow: hidden;
    margin: 0px;
}

.cis_img_blur {
    width: 100%;
    background-color: green;
    overflow: hidden;
    margin: 0px;
}

.coop_img_blur {
    width: 100%;
    background-color: blue;
    overflow: hidden;
    margin: 0px;
}

.lms-overlay {
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.lms-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.lms-wrap label {
    background: #E7E6E4;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

input {
    position: absolute;
    z-index: -9999;
    visibility: hidden;
}

.lms-overlay {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -moz-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -ms-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -o-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    z-index: -999;
}

input:checked~.lms-overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 999;
}

.cis-overlay {
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.cis-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.cis-wrap label {
    background: #E7E6E4;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

input {
    position: absolute;
    z-index: -9999;
    visibility: hidden;
}

.cis-overlay {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -moz-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -ms-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -o-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    z-index: -999;
}

input:checked~.cis-overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 999;
}

.coop-overlay {
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.coop-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.coop-wrap label {
    background: #E7E6E4;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

input {
    position: absolute;
    z-index: -9999;
    visibility: hidden;
}

.coop-overlay {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -moz-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -ms-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    -o-transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    transition: all 0.75s cubic-bezier(0.65, -0.55, 0.265, 1.55);
    z-index: -999;
}

input:checked~.coop-overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 999;
}

h3.white {
    color: #E7E6E4
}

.tech_icon {
    height: 60px;
    margin: 0 5px;
}

.center {
    text-align: center;
}

.sns_img {
    height: 30px;
    margin: 0 5px;
}

@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}